body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f7;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.nav-link, .nav-button {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover, .nav-button:hover {
  background-color: #555;
}

.nav-button {
  border: none;
  cursor: pointer;
}
